# ------------------------------------------------------------------
# CONFIGURATION DEVELOPPEMENT UNIQUEMENT
# NE PAS UTILISER CES VALEURS EN PRODUCTION
# Copiez ce fichier en .env pour l'utiliser avec docker compose
# ------------------------------------------------------------------

# Base de données
POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=keycloak

# Keycloak Admin
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
